/* Global styles */
body {
  color: #565656;
  font-family: "Gurajada", sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.1;
}

header,
article,
footer {
  background: #e1fffa;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 90%;
  max-width: 1200px;
}

/* Header styles */
header {
  padding: 25px 0 25px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: left;
}

h1 {
  font-family: "Palanquin Dark", sans-serif;
  /* Font-size can be adjusted for mobile so that your name fits on a single row. */
  font-size: 3rem;
  color: #5C6B68;
  border: rgba(00, 0, 0, 0.44) 0px 3px 8px;
}

h1 .first-name {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Livvic", sans-serif;
  font-size: 2rem;
}

p .first-name{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .75em;
}
/* Main styles */

article .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  background: rgba(26, 32, 31, 0.32);
  padding: 70px 0;
  border-radius: 10px;
  box-shadow: rgba(10, 0, 0, 0.24) 0px 3px 8px;
}

.profile-image-container {
  width: 60%;
  padding-bottom: 20px;
}

.profile-image {
  width: 100%;
  border-radius: 20px;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-description {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 5px solid #e1fffa;
}

/* Footer styles */
footer {
  padding: 50px 0 50px 0;
}

footer .content-wrapper {
display: flex;
justify-content: right;
}

@media (min-width: 768px) {

  header .content-wrapper {
    justify-content: flex-start;
  }

  article .content-wrapper {
    justify-content: space-around;
    align-items: center;
  }

  .profile-image-container {
    width: 25%;
    padding-bottom: 0;
  }

  .profile-description {
    width: 55%;
  }

}